<!DOCTYPE html>
<html>
<head>
  <title>HolidayPotluck</title>
  <meta name="viewport" content="initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7830452/730502/css/fonts.css" />
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
